.form-design{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
.input-groupR {
    margin: 10px 0px 10px 0px;
  }
.input-groupR label {
    display: block;
    text-align: left;
    margin: 3px;
  }
.input-groupR input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
.btnR {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
.headerR {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
.error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede;
    border-radius: 5px; 
    text-align: left;
  }
.success {
    color: #3c763d; 
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
i.fa-user-circle{
    font-size: 60px;
  }
.user-text i.fa-arrow-circle-right{
    font-size: 18px;
  }

